body {
}

table {
    width: 100%;
}

th {
    border: hidden;
}

tr > th {
    background: black;
    color: white;
    font-weight: normal;
}

tr > th, tr > td {
    padding: 5px;
}